.page-wrapper {
  min-height: calc(100vh - 60px);
}

.header {
  background-image: url(../images/marvel-logo.jpg);
  background-size: cover;
}

.container {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

.top-header {
  padding: 10px;
}

.logo {
  font-size: 18px;
  color: mintcream;
  margin-left: 30px;
}

.footer {
  background-color: #00a8e2;
  padding: 20px;
}

a {
  color: mintcream;
  text-decoration: none;
  cursor: pointer;  
}

.btn {
  margin: 10px 0 10px 10px;
  background-color: #gray;
  padding: 5px 10px;
  border-radius: 3px;
}

.btn-active {
  background-color: crimson;
}

input[type=search] {
  width: 100%;
  border-color: #0F0F0F;
  border-bottom-color: crimson;
  color: mintcream;
  background-color: #0F0F0F;
  padding: 10px;
  background-image: url(../images/enter-icon.png);
  background-repeat: no-repeat;
  background-position: 99% 45%;
}

input[type=submit] {
  -webkit-appearance: none;
  appearance: none;
  color: mintcream;
  border-color: transparent;
  text-transform: uppercase;
  background-color: crimson;
  padding: 10px 20px;
  cursor: pointer;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}