.container {
  text-transform: uppercase;
  background-color: rgba(0,0,0,0.5);
  padding: 40px;
  color: mintcream;
  text-transform: none;
}

.poster {
  float: left;
  width: 30%;
  max-height: 400px;
}

.description {
  float: right;
  width: 67%;
  margin-left: 3%;
}

.title {
  color: pink;
  display: inline-block;
  font-size: 30px;
  max-width: 400px;
  position: relative;
}

.rating {
  display: inline-block;
  font-size: 16px;
  position: absolute;
  top: 12px;
  right: 9px;
  color: lightgreen;
}

.rating-circle {
  position: absolute;
  top: -3px;
  right: -55px;
  display: block;
  width: 41px;
  height: 41px;
  border: 1px solid lightgreen;
  border-radius: 50%;
}

.caption {
  display: block;
}

.bold-caption {
  font-weight: bold;
}

.year {
  margin-right: 10px;
}

small {
  display: block;
  margin-bottom: 10px;
}
