.card {
  width: calc(100% / 4 - 0.5px);
  box-sizing: border-box;
  margin-top: 20px;
  color: black;
}

.card:not(:nth-of-type(4n)) {
  padding-right: 15px;
}

.content {
  padding: 10px;
  box-sizing: border-box;
}

.card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 210px;
}

.title {
  float: left;
  width: 70%;
}

.year {
  float: right;
  width: 25%;
  margin-left: 5%;
  margin-top: 10px;
  text-align: center;
  padding: 3px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 2px;
}

.genre {
  color: darkgrey;
}
