.container {
  text-transform: uppercase;
  background-color: rgba(0,0,0,0.5);
  padding: 40px;
  color: mintcream;
  text-transform: none;
}

.poster {
  float: left;
  width: 30%;
  max-height: 400px;
}

.description {
  float: right;
  width: 67%;
  margin-left: 3%;
}

.title {
  color: pink;
  display: inline-block;
  font-size: 30px;
  max-width: 400px;
}

.rating {
  display: inline-block;
  vertical-align: middle;
  padding: 11px 10px;
  color: lightgreen;
  border: 1px solid lightgreen;
  border-radius: 50%;
  margin-left: 15px;
  margin-bottom: 12px;
}

.caption {
  display: block;
}

.bold-caption {
  font-weight: bold;
}

.year {
  margin-right: 10px;
}

small {
  display: block;
  margin-bottom: 10px;
}
